<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dontbreakit.balls" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bouncing Balls</name>
    <description>
        Bounce balls
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
        <icon src="www/icons/red.png" density="ldpi" />
        <icon src="www/icons/red.png" density="mdpi" />
        <icon src="www/icons/red.png" density="hdpi" />
        <icon src="www/icons/red.png" density="xhdpi" />
    </platform>
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="landscape" />
</widget>
