body {
    background: #333333;
    color: #FAFAFA;
    font-family: Verdana;
    font-weight: bold;
    margin: 0;
    overflow: hidden;
    font-family: 'Sigmar One', cursive;
    background-color: #333333;
    color: #ffffff;
}

canvas {
    display: inline-block;
}

#viewport {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#HUD {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#HUD .infections {
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 20px;
}

#HUD .infectionsLeft {
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 40px;
}

#HUD .timeRemaining {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
}

#HUD .start {
    position: absolute;
    z-index: 2;
    top: calc(50% - 25px);
    left: calc(50% - 50px);
}

#start {
    height: 50px;
    width: 100px;
}

#good-end {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 4em;
    visibility: hidden;
    z-index: 5;
    background: rgba(0, 0, 0, 0.4);
}

#bad-end {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row /* works with row or column */
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 4em;
    visibility: hidden;
    z-index: 5;
    background: rgba(0, 0, 0, 0.4);
}